<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
  </head>
  <body>
    <div class="container">
      <h1>CF Control Panel</h1>
      
      <div class="row">
        <div class="span12">
          <div class="navbar">
            <div class="navbar-inner">
              <ul class="nav">
                <li class="<%= active_link('/profile') %>"><a href="/profile">Profile</a></li>
                <li class="<%= active_link('/accounts') %>"><a href="/accounts">Accounts</a></li>
                <li id="logout-button"><a href="/logout">Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <%= yield %>
      
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="/js/underscore-min.js"></script>
    <script type="text/javascript" src="/js/backbone-min.js"></script>
    <script type="text/javascript" src="/js/bootbox.min.js"></script>
    <%= yield_content :scripts %>
  </body>
</html>