<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
  </head>
  <body>
    <div class="container">
      <h1>CF Control Panel</h1>
      <%= yield %>
    </div>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  </body>
</html>