<div class="row">
  <div class="span3">
    <%= erb :'accounts/_account_list', :locals => { :accounts => accounts } %>
    <hr />
  </div>
  <div class="span9" id="main-pane">
    <div class="inner">
      <form class="form-horizontal" method="post">
        <div class="control-group">
          <label class="control-label" for="name">Name</label>
          <div class="controls">
            <input type="text" id="name" name="name" placeholder="Friendly name">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="endpoint">Cloud Endpoint</label>
          <div class="controls">
            <input type="text" id="endpoint" name="endpoint" placeholder="cloud.run.pivotal.io">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="username">Username</label>
          <div class="controls">
            <input type="text" id="username" name="username" placeholder="Email">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputPassword">Password</label>
          <div class="controls">
            <input type="password" id="password" name="password" placeholder="Password">
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-success"><i class="icon-plus icon-white"></i> Add</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>