<div class="row">
  <div class="span3">
    <%= erb :'accounts/_account_list', :locals => { :accounts => accounts } %>
    <hr />
    <a href="/accounts/add_new"><div class="btn btn-success btn-block"><i class="icon-plus icon-white"></i> Add new account</div></a>
  </div>
  <div class="span9" id="main-pane">
    <div class="inner">
      <%= accounts.inspect %>
    </div>
  </div>
</div>